<%= form_for [:admin, @member] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @member,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest' -%>
  </div>
  
  <div class='field'>
    <%= f.label :facebook_path -%>
    https://graph.facebook.com/<%= f.text_field :facebook_path, :class => 'larger' -%>/picture?type=large
  </div>
  
  <div class='field'>
    <%= f.label :description -%>
    <%= f.text_field :description -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.members.member'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @member.name)
              } %>
<% end -%>
