<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(portfolio) -%>">
  <span class='title'>
		<% unless portfolio.translations.empty? %>
    	<%= portfolio.translations.first.name %>
			<% if defined?(::Refinery::I18n) and ::Refinery::I18n.frontend_locales.many? and
	          (locales = portfolio.translations.collect{|t| t.locale}).present? %>
	      <span class='preview'>
	        <% locales.each do |locale| %>
	          <%= link_to refinery_icon_tag("flags/#{locale}.png", :size => '16x11'),
	                      edit_admin_portfolio_url(portfolio, :switch_locale => locale),
	                      :class => 'locale' %>
	        <% end %>
	      </span>
	    <% end %>
		<% end %>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), portfolio_url(portfolio),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_portfolio_path(portfolio),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_portfolio_path(portfolio),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete'),
        :method => :delete %>
  </span>
</li>
