<div id="canvas">
	<div id="content">
		<p style="color: red;">
		</p>
		<section id='body_content'>
 			<%=raw @page[:body] %>
			<div id='team'>
				<ul id='team-members'>
					<% @members.shuffle.each do |member| %>
						<li class='team-member'>
							<div class='image-wrapper'>
								<%= image_tag member.facebook_path ? "https://graph.facebook.com/"+member.facebook_path+"/picture?type=large" : "", :width=> '100%', :title => member.name, :id => member.name+"_image", :class => "team-member-image" %>
							</div>
							<h3><%= member.name %></h3>
							<p><%= member.description %></p>
						</li>
					<% end %>
				</ul>
			</div>
		</section>
		<section id='side_body_content'>
		  <%=raw @page[:side_body] %>
			<%= render :partial => "/shared/sidebar_partial"%>
		</section>
	</div>
</div>
